// @import "~@angular/material/theming";
// @include mat-core();
@import "variables";

.mat-toolbar.mat-primary {
    background: $mi-bg3;
    color: $mi-font3;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: $mi-btbg3;
}