/* --------------- Default colors --------------- */

$mi-bg1: #27273c;
$mi-font1: #d3d3d3;

$mi-bg2: #3a3a3a;
$mi-font2: #d3d3d3;

$mi-bg3: #861141;
$mi-font3: #fff;

$mi-btbg3: rgb(196, 0, 81);
$mi-font3: #fff;