<mat-accordion multi>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>#{{ task.id }} - {{ task.name }}</mat-panel-title>
            <mat-panel-description>
                <button mat-mini-fab color="primary" class="edit-button" (click)="openEditTaskDialog(task)" matTooltip="Edit Task">
                    <mat-icon>edit</mat-icon>
                </button>

                <button mat-mini-fab color="primary" class="delete-button" (click)="openDeleteDialog(task)" matTooltip="Delete Task">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-panel-description>
        </mat-expansion-panel-header>
        
        <h2>{{ task.name }}</h2>
        <p>{{ task.description }}</p>
        <p>{{ task.due_date | date:'mediumDate' }}</p>
    </mat-expansion-panel>
</mat-accordion>
