<mat-accordion multi>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>#{{ group.id }} - {{ group.name }}</mat-panel-title>
            <mat-panel-description>
                <button mat-mini-fab color="primary" class="edit-button" (click)="openEditGroupDialog(group)" matTooltip="Csoport törlése">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="primary" class="delete-button" (click)="openDeleteGroupDialog(group)" matTooltip="Csoport törlése">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <h3>Projects: {{ projects?.length }} </h3>
        <div *ngFor="let project of projects">
           <app-project [project]="project"></app-project> 
        </div>

        <button mat-mini-fab color="primary" class="edit-button" (click)="goToGroup(group)" matTooltip="Show Group">
            <mat-icon>list</mat-icon>
        </button>
    </mat-expansion-panel>
</mat-accordion>
