<div *ngIf="router.url !== '/' && router.url !== '/404'; else nodrawer">
	<mat-toolbar color="primary">
		<mat-toolbar-row>
			<button class="menu primary" mat-icon-button (click)="drawer.toggle()" matTooltip="Főmenü">
				<mat-icon>menu</mat-icon>
			</button>
			<span style="margin: 0 0 0 15px;">TiTrack</span>
		</mat-toolbar-row>
	</mat-toolbar>
	<mat-drawer-container fullscreen>
		<mat-drawer #drawer mode="side" opened>
			<app-menu></app-menu>
		</mat-drawer>
		<mat-drawer-content>
			<main>
				<router-outlet></router-outlet>
			</main>
		</mat-drawer-content>
	</mat-drawer-container>
</div>
<ng-template #nodrawer>
	<div class="wrapper">
		<router-outlet></router-outlet>
	</div>
	<div class="waveWrapper waveAnimation">
		<div class="waveWrapperInner bgTop">
			<div class="wave waveTop" style="background-image: url('assets/wave-top.png')">
			</div>
		</div>
		<div class="waveWrapperInner bgMiddle">
			<div class="wave waveMiddle" style="background-image: url('assets/wave-mid.png')">
			</div>
		</div>
		<div class="waveWrapperInner bgBottom">
			<div class="wave waveBottom" style="background-image: url('assets/wave-bot.png')">
			</div>
		</div>
	</div>
	
</ng-template>
