<h2 *ngIf="isAddMode">Új csoport hozzáadása</h2>
<h2 *ngIf="!isAddMode">Csoport módosítása</h2>
<form [formGroup]="groupForm" (ngSubmit)="addEditGroup(groupForm)" novalidate>
	<div fxLayout="row wrap" fxLayoutAlign="start start">
		<mat-form-field appearance="fill" fxFlex="100">
			<mat-label>Csoport neve</mat-label>
			<input matInput type="text" placeholder="Csoport neve" formControlName="name">
			<mat-error>Mező kitöltése kötelező!</mat-error>
		</mat-form-field>
		<div class="actions">
			<button mat-raised-button color="accent">Rögzítés</button>
		</div>
	</div>
</form>
