<h2 *ngIf="isAddMode">New Gorup</h2>
<h2 *ngIf="!isAddMode">Edit Group</h2>
<form [formGroup]="groupForm" (ngSubmit)="addEditGroup(groupForm)" novalidate>
	<div fxLayout="row wrap" fxLayoutAlign="start start">
		<mat-form-field appearance="fill" fxFlex="100">
			<mat-label>Group Name</mat-label>
			<input matInput type="text" placeholder="Group Name" formControlName="name">
			<mat-error>This feild is required!</mat-error>
		</mat-form-field>
		<div class="actions">
			<button mat-raised-button color="accent">Save</button>
		</div>
	</div>
</form>
