<mat-accordion multi>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>#{{ user.id }} - {{ user.name }}</mat-panel-title>
            <mat-panel-description>
                <button mat-mini-fab color="primary" class="edit-button" (click)="openEditUserDialog(user)" matTooltip="Edit User">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-panel-description>
        </mat-expansion-panel-header>

    </mat-expansion-panel>
</mat-accordion>
